<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Passenger List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Phone No</th>
            <th>Name</th>
            <th>Date-Of-Birth</th>
            <th>Email Address</th>
            <th>Gender</th>
            <th>Wallet Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let passenger of passengers | async">
            <td>{{ passenger.phoneNo }}</td>
            <td>{{ passenger.name }}</td>
            <td>{{ passenger.DOB }}</td>
            <td>{{ passenger.email }}</td>
            <td>{{ passenger.gender }}</td>
            <td>{{ passenger.walletAmount }}</td>
            <td><button (click)="deletePassenger(passenger.phoneNo)" class="btn btn-danger">Delete Passenger</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  